.logo-search-header img{
    height: 90px;
}
.header{
    color: #969696;
}

.header .btn-github{
    color: #fff;
    background-color: #444;
    border-color: rgba(0,0,0,0.2);
    margin-left: 1rem;
}
.btn-github:hover{
    color: rgba(200,200,200,0.5);
}

.login-nav-bar div{
    margin: 0 0.5rem;
}
